@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
	background-color:#881188;
}

#gameBoard {
	border:5px solid #004400;
	display:grid;
	grid-template-columns:120px 120px 120px 120px 120px;
	grid-template-rows:120px 120px 120px 120px 120px;
	justify-content:center;
	width:600px;
	height:600px;
	
	margin-left:auto;
	margin-right:auto;
}

#gameBoard div {
	background-color:#227744;
	background-repeat:no-repeat;
	background-size:cover;
}

.defuser {
	background-image:url("images/defuser.png");
}

.totem {
	background-image:url("images/totem.png");
}

.bomb {
	background-image:url("images/bomb.png");
}

.wall {
	background-image:url("images/wall.png");
}

.laserh{
	background-image:url("images/laserh.png");
}

.laserv{
	background-image:url("images/laserv.png");
}

.swamp {
	background-image:url("images/swamp.png");
}

.theebisup{
	background-image:url("images/theebisu.png");
}

.theebisleft{
	background-image:url("images/theebisl.png");
}

.theebisright{
	background-image:url("images/theebisr.png");
}

.theebisdown{
	background-image:url("images/theebisd.png");
}

.theebisdefuserup{
	background-image:url("images/theebisdefuseru.png");
}

.theebisdefuserleft{
	background-image:url("images/theebisdefuserl.png");
}

.theebisdefuserright{
	background-image:url("images/theebisdefuserr.png");
}

.theebisdefuserdown{
	background-image:url("images/theebisdefuserd.png");
}

.laserpassup{
	background-image:url("images/laserpassu.png");
}

.laserpassleft{
	background-image:url("images/laserpassl.png");
}

.laserpassright{
	background-image:url("images/laserpassr.png");
}

.laserpassdown{
	background-image:url("images/laserpassd.png");
}

.enemyup{
	background-image:url("images/enemyu.png");
}

.enemyleft{
	background-image:url("images/enemyl.png");
}

.enemyright{
	background-image:url("images/enemyr.png");
}

.enemydown{
	background-image:url("images/enemyd.png");
}

.bridge{
	background-color:#800020 !important;
}

.message {
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8);
	color:#993399;
	font-family: 'Yusei Magic', sans-serif;
	font-size:8em;
	vertical-align:top;
	text-align:center;
	line-height:100vh;
}

#win {
	text-align:left;
	font-size:5em;
}